<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<config_init xmlns="">
    <config id="1" >
    <path id="100">
        <path_location>C:\Users\fabio_rodriguez\OneDrive - TransCanada
            Corporation\Documents\IT\Paths-CSV-CopyFiles\TVDR-dump-totalfiles-permits-13Sep2022.csv
        </path_location>
        <project>TVDR</project>
        <depto>Permits</depto>
        <path_id>100</path_id>
        <desc>CSV File Path</desc>
    </path>
    <path id="103">
        <path_location>C:\Users\fabio_rodriguez\OneDrive - TransCanada
            Corporation\Documents\IT\Paths-CSV-CopyFiles\TOPO-totaldeliveries-permits-26Apr21.csv
        </path_location>
        <project>TOPO</project>
        <depto>Permits</depto>
        <path_id>103</path_id>
        <desc>CSV File Path</desc>
    </path>
    <path id="101">
        <path_location>C:\Users\fabio_rodriguez\OneDrive - TransCanada
            Corporation\Documents\IT\Paths-CSV-CopyFiles\TXTL-paths_files-letters-inout-total_29Jan20.csv
        </path_location>
        <project>TXTL</project>
        <depto>Permits</depto>
        <path_id>101</path_id>
        <desc>CSV File Path</desc>
    </path>
    <path id="102">
        <path_location>C:\Users\fabio_rodriguez\OneDrive - TransCanada
            Corporation\Documents\IT\Paths-CSV-CopyFiles\SDTT-paths_files-letters-inout-total_24Nov20.csv
        </path_location>
        <project>SDTT</project>
        <depto>Permits</depto>
        <path_id>102</path_id>
        <desc>CSV File Path</desc>
    </path>
    <path id="104">
        <path_location>C:\Users\fabio_rodriguez\OneDrive - TransCanada
            Corporation\Documents\TGNH\TVDR_Project\PermisosTramosPendientes\Files-Pendientes\licencias
        </path_location>
        <project>GENERIC</project>
        <path_id>104</path_id>
        <desc>Download Path</desc>
    </path>
</config>
</config_init>